*~

framework/AdminReg.h
framework/MonitorQuery.h
framework/Node.h
framework/NodeDescriptor.h
framework/Patch.h
framework/Registry.h
framework/RegistryDescriptor.h
servant/AdminF.h
servant/AuthF.h
servant/BaseF.h
servant/ConfigF.h
servant/EndpointF.h
servant/LogF.h
servant/NodeF.h
servant/NotifyF.h
servant/PropertyF.h
servant/QueryF.h
servant/StatF.h
